/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 10, ../sass/_config.scss */

* {
  font-family: arial;
}

@media (min-width: 935px) {
  /* line 2, ../sass/_layout.scss */

  .container {
    position: relative;
    max-width: 1310px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 720px;
    background: url(./../images/bg.jpg) center no-repeat;
    overflow: hidden;
  }

  /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 12, ../sass/_layout.scss */

  .logo {
    position: absolute;
    left: 0;
    top: -20px;
    width: 384px;
    height: 107px;
    background: url(./../images/logo.png) center no-repeat;
  }

  /* line 21, ../sass/_layout.scss */

  .marquee {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 935px;
    height: 76px;
    background: url(./../images/marquee_bg.png) center no-repeat;
  }

  /* line 30, ../sass/_layout.scss */

  .leftPanel {
    position: absolute;
    top: 97px;
    left: 20px;
    width: 372px;
    height: 549px;
    background: url(./../images/leftPanel_bg.png) no-repeat;
    overflow: hidden;
  }

  /* line 39, ../sass/_layout.scss */

  .leftPanel.prod_detail {
    width: 817px;
    height: 349px;
    background: url(./../images/prod_left_bg.png) no-repeat;
  }

  /* line 46, ../sass/_layout.scss */

  .leftPanel_navs {
    position: absolute;
    top: 650px;
    left: 150px;
  }

  /* line 52, ../sass/_layout.scss */

  .prodContent {
    position: relative;
    margin: 11px 0 0 70px;
    width: 270px;
    height: 520px;
    overflow: hidden;
  }

  /* line 60, ../sass/_layout.scss */

  #pageSlide {
    position: absolute;
    width: 270px;
    height: 10000em;
  }

  /* line 66, ../sass/_layout.scss */

  .rightVcr {
    position: absolute;
    top: 97px;
    left: 402px;
    width: 837px;
    height: 478px;
    background: url(./../images/right_bg.png) no-repeat;
  }

  /* line 75, ../sass/_layout.scss */

  .vcrPanel {
    position: absolute;
    top: 45px;
    left: 402px;
    width: 846px;
    height: 52px;
  }

  /* line 83, ../sass/_layout.scss */

  .vcrContent,
  .vcrContent > div {
    width: 778px;
    height: 435px;
  }

  /* line 88, ../sass/_layout.scss */

  .vcrContent {
    position: relative;
    margin: 12px 0 12px 23.5px;
    overflow: hidden;
  }

  /* line 93, ../sass/_layout.scss */

  .vcrContent > div {
    position: absolute;
    left: 0;
    top: 0;
    background: #cccccc;
  }

  /* line 100, ../sass/_layout.scss */

  .btnZone {
    position: absolute;
    left: 402px;
    top: 575px;
    width: 837px;
    height: 36px;
  }

  /* line 107, ../sass/_layout.scss */

  .btnZone.prod_pos {
    z-index: 1;
    left: auto;
    top: auto;
    right: 60px;
    bottom: 30px;
  }

  /* line 116, ../sass/_layout.scss */

  .btnZone > .phone {
    position: relative;
    right: -70px;
  }

  /* line 123, ../sass/_layout.scss */

  .prod_bg_down {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    width: 449px;
    height: 505px;
    background: url(./../images/bg_shadow.png) no-repeat;
  }

  /* line 134, ../sass/_layout.scss */

  .rightPanel.prod_pic {
    position: absolute;
    top: 74px;
    right: 35px;
    width: 405px;
    height: 364px;
    overflow: hidden;
    background: url(./../images/right_prod_pic.png) no-repeat;
  }

  /* line 143, ../sass/_layout.scss */

  .rightPanel.prod_pic > img {
    position: relative;
    width: 365px;
    height: 310px;
    top: 35px;
    left: 11px;
  }

  /* line 152, ../sass/_layout.scss */

  .prodSelect {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 60px;
  }
}

@media (min-width: 935px) {
  /* line 2, ../sass/_base.scss */

  a,
  input[type="text"] {
    outline: none;
  }

  /* line 3, ../sass/_base.scss */

  .optionGroup {
    position: relative;
    width: 820px;
    height: 69px;
    background: #ffffff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 20px;
    border: 2px solid #cccccc;
  }

  /* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */

  .optionGroup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 13, ../sass/_base.scss */

  .optionGroup a.downBtn {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 66px;
    height: 0;
    padding-top: 69px;
    overflow: hidden;
    background: url(./../images/dowBtn_bg.gif) center no-repeat;
  }

  /* line 25, ../sass/_base.scss */

  .optionGroup span.text {
    position: absolute;
    left: 10px;
    top: 0;
    display: block;
    width: 744px;
    height: 69px;
    line-height: 69px;
    font-size: 2.2rem;
    text-align: center;
  }

  /* line 38, ../sass/_base.scss */

  .optionGroup.selectCurrent {
    background: #ffec1a;
  }

  /* line 40, ../sass/_base.scss */

  .optionGroup.selectCurrent a.downBtn {
    background: url(./../images/downBtn_bg_hover.gif) center no-repeat;
  }

  /* line 44, ../sass/_base.scss */

  .optionGroup.selectCurrent span.text:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -11px;
    bottom: -27px;
    display: block;
    width: 22px;
    height: 22px;
    background: url(./../images/icon_downarrow.png) center no-repeat;
  }

  /* line 59, ../sass/_base.scss */

  .popup {
    display: none;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin: 0 12%;
    margin-top: -250px;
    width: 76%;
    height: 500px;
    background: rgba(0, 0, 0, 0.7);
  }

  /* line 69, ../sass/_base.scss */

  .popup > p {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 3.2rem;
    line-height: 5rem;
  }

  /* line 76, ../sass/_base.scss */

  .popup > p .servicePhone {
    font-size: 5.2rem;
  }

  /* line 82, ../sass/_base.scss */

  .popup .InputNums {
    position: relative;
  }

  /* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

  .popup .InputNums:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 86, ../sass/_base.scss */

  .popup .InputNums.errorCode > input[type='text'] {
    position: relative;
    z-index: 1;
    border: 5px solid #c40000;
  }

  /* line 95, ../sass/_base.scss */

  .popup .InputNums > input[type='text'] {
    float: left;
    margin-left: -5px;
    width: 80px;
    height: 100px;
    border: 5px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 5.2rem;
  }

  /* line 104, ../sass/_base.scss */

  .popup .InputNums > input[type='text']:first-child {
    margin-left: 0;
  }

  /* line 108, ../sass/_base.scss */

  .popup .InputNums > input[type='text']:focus {
    background: #ffec1a;
  }

  /* line 113, ../sass/_base.scss */

  .popup .popBtns {
    position: relative;
    margin-top: 30px;
  }

  /* line 118, ../sass/_base.scss */

  .popup .popBtns > ul > li {
    display: inline-block;
    float: left;
    margin-left: 20px;
  }

  /* line 122, ../sass/_base.scss */

  .popup .popBtns > ul > li:first-child {
    margin-left: 0;
  }

  /* line 123, ../sass/_base.scss */

  .popup .popBtns > ul > li > a {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    padding-left: 40px;
  }

  /* line 135, ../sass/_base.scss */

  .popup .popBtns > ul > li > a:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    height: 36px;
  }

  /* line 145, ../sass/_base.scss */

  .popup .popBtns > ul > li > a.ok:before {
    width: 36px;
    background: url(./../images/icons/icon_okBtn.png) no-repeat;
  }

  /* line 152, ../sass/_base.scss */

  .popup .popBtns > ul > li > a.back:before {
    width: 36px;
    background: url(./../images/icons/icon_backBtn.png) no-repeat;
  }

  /* line 164, ../sass/_base.scss */

  .popup.adultPop p {
    margin-top: 60px;
    font-size: 2.2rem;
  }

  /* line 167, ../sass/_base.scss */

  .popup.adultPop p span {
    font-size: 4.2rem;
  }

  /* line 170, ../sass/_base.scss */

  .popup.adultPop .InputNums.adultCode {
    width: 360px;
    left: 50%;
    margin-left: -172.5px;
  }

  /* line 176, ../sass/_base.scss */

  .popup.adultPop .popBtns {
    width: 245px;
    left: 50%;
    margin-left: -122.5px;
  }
}

@media (min-width: 935px) {
  /* line 2, ../sass/_prod.scss */

  .leftPanel.prod_detail > .prod_content {
    position: relative;
    left: auto;
    right: -110px;
    top: 30px;
    width: 665px;
    height: 275px;
    background: #ffffff;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  /* line 14, ../sass/_prod.scss */

  .prodNums {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #9e9e9e;
    color: #ffffff;
    font-size: 2.2rem;
    padding: 0 15px;
  }

  /* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */

  .prodNums * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 26, ../sass/_prod.scss */

  .prodName {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 40px;
    overflow: hidden;
    font-size: 2.3rem;
    color: #666666;
    padding: 0 15px;
  }

  /* line 39, ../sass/_prod.scss */

  .prodPrice {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    font-size: 3.2rem;
    padding: 0 15px;
    color: #a12422;
  }

  /* line 52, ../sass/_prod.scss */

  .prodPrice span.priceLimit {
    color: #666666;
    font-size: 1.7rem;
  }

  /* line 59, ../sass/_prod.scss */

  .prodOrderEnd {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 80px;
    width: 1122px;
    height: 164px;
    background: url(./../images/orderTips_bg.png) no-repeat;
  }

  /* line 69, ../sass/_prod.scss */

  .prodOrderEnd > p {
    position: relative;
    top: 20px;
    margin: 0 20px;
    width: 1080px;
    font-size: 2.5rem;
    letter-spacing: 0.45rem;
    line-height: 60px;
  }

  /* line 78, ../sass/_prod.scss */

  .prodOrderEnd > p > span {
    color: #550000;
    font-size: 3.2rem;
  }

  /* line 84, ../sass/_prod.scss */

  .prodOrderEnd > span.tips {
    position: absolute;
    bottom: 20px;
    right: 40px;
    font-size: 1.6rem;
  }

  /* line 91, ../sass/_prod.scss */

  a.orderCheck_btn {
    position: absolute;
    right: 75px;
    bottom: 100px;
    width: 306px;
    height: 0px;
    padding-top: 159px;
    overflow: hidden;
    background: url(./../images/orderCheck_btn.png) no-repeat;
  }

  /* line 102, ../sass/_prod.scss */

  .spec1,
  .spec2,
  .spec3 {
    float: left;
    margin-top: 25px;
  }

  /* line 106, ../sass/_prod.scss */

  .spec1 {
    width: 274px;
    border-right: 0;
  }

  /* line 109, ../sass/_prod.scss */

  .spec1 span.text {
    width: 208px;
  }

  /* line 111, ../sass/_prod.scss */

  .spec2 {
    border-right: 0;
  }

  /* line 112, ../sass/_prod.scss */

  .spec2,
  .spec3 {
    border-top-left-radius: 0;
    border-left: 0;
    width: 273px;
  }

  /* line 116, ../sass/_prod.scss */

  .spec2 span.text,
  .spec3 span.text {
    width: 207px;
  }
}

@media (min-width: 935px) {
  /* line 2, ../sass/_tabs.scss */

  .vcrPanel > ul > li {
    float: left;
  }

  /* line 4, ../sass/_tabs.scss */

  .vcrPanel > ul > li a {
    display: block;
    width: 165px;
    height: 0;
    padding-top: 52px;
    overflow: hidden;
  }

  /* line 11, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab1 {
    background: url(./../images/tabs/tvPanel_tabs_01.png) no-repeat;
  }

  /* line 12, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab2 {
    background: url(./../images/tabs/tvPanel_tabs_02.png) no-repeat;
  }

  /* line 13, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab3 {
    background: url(./../images/tabs/tvPanel_tabs_03.png) no-repeat;
  }

  /* line 14, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab4 {
    background: url(./../images/tabs/tvPanel_tabs_04.png) no-repeat;
  }

  /* line 15, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab5 {
    background: url(./../images/tabs/tvPanel_tabs_05.png) no-repeat;
  }

  /* line 17, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab1:focus {
    background: url(./../images/tabs/tvPanel_tabs_active_01.png) no-repeat;
  }

  /* line 18, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab2:focus {
    background: url(./../images/tabs/tvPanel_tabs_active_02.png) no-repeat;
  }

  /* line 19, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab3:focus {
    background: url(./../images/tabs/tvPanel_tabs_active_03.png) no-repeat;
  }

  /* line 20, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab4:focus {
    background: url(./../images/tabs/tvPanel_tabs_active_04.png) no-repeat;
  }

  /* line 21, ../sass/_tabs.scss */

  .vcrPanel > ul > li a.tab5:focus {
    background: url(./../images/tabs/tvPanel_tabs_active_05.png) no-repeat;
  }

  /* line 27, ../sass/_tabs.scss */

  .leftPanel_navs > ul > li {
    float: left;
  }

  /* line 29, ../sass/_tabs.scss */

  .leftPanel_navs > ul > li a.upBtn,
  .leftPanel_navs > ul > li a.downBtn {
    display: block;
    width: 36px;
    height: 0;
    padding-top: 36px;
    overflow: hidden;
  }

  /* line 37, ../sass/_tabs.scss */

  .leftPanel_navs > ul > li a.upBtn {
    background: url(./../images/icons/icon_upBtn.png) no-repeat;
  }

  /* line 38, ../sass/_tabs.scss */

  .leftPanel_navs > ul > li a.downBtn {
    background: url(./../images/icons/icon_downBtn.png) no-repeat;
  }

  /* line 40, ../sass/_tabs.scss */

  .leftPanel_navs > ul > li div.navsPage {
    margin-right: 5px;
    display: block;
    width: 54px;
    height: 23px;
    background: url(./../images/navsPage_bg.png) no-repeat;
    text-align: center;
    line-height: 23px;
    color: #ffffff;
  }

  /* line 53, ../sass/_tabs.scss */

  .prodContent > div > div > ul > li {
    display: block;
    width: 270px;
    height: 165px;
    background: #333;
    margin-top: 12.5px;
  }

  /* line 59, ../sass/_tabs.scss */

  .prodContent > div > div > ul > li:first-child {
    margin-top: 0;
  }

  /* line 63, ../sass/_tabs.scss */

  .btnZone > ul > li {
    display: inline-block;
    float: left;
    margin-left: 5px;
  }

  /* line 69, ../sass/_tabs.scss */

  .btnZone > ul > li > a {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
  }

  /* line 80, ../sass/_tabs.scss */

  .btnZone > ul > li > a:before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    height: 36px;
  }

  /* line 89, ../sass/_tabs.scss */

  .btnZone > ul > li > a.order {
    padding-left: 40px;
  }

  /* line 91, ../sass/_tabs.scss */

  .btnZone > ul > li > a.order:before {
    width: 36px;
    background: url(./../images/icons/icon_redBtn.png) no-repeat;
  }

  /* line 97, ../sass/_tabs.scss */

  .btnZone > ul > li > a.home {
    padding-left: 58px;
  }

  /* line 99, ../sass/_tabs.scss */

  .btnZone > ul > li > a.home:before {
    width: 54px;
    background: url(./../images/icons/icon_homeBtn.png) no-repeat;
  }

  /* line 105, ../sass/_tabs.scss */

  .btnZone > ul > li > a.ok {
    padding-left: 40px;
  }

  /* line 107, ../sass/_tabs.scss */

  .btnZone > ul > li > a.ok:before {
    width: 36px;
    background: url(./../images/icons/icon_okBtn.png) no-repeat;
  }

  /* line 113, ../sass/_tabs.scss */

  .btnZone > ul > li > a.back {
    padding-left: 40px;
  }

  /* line 115, ../sass/_tabs.scss */

  .btnZone > ul > li > a.back:before {
    width: 36px;
    background: url(./../images/icons/icon_backBtn.png) no-repeat;
  }

  /* line 123, ../sass/_tabs.scss */

  .prod {
    display: block;
    width: 270px;
    height: 165px;
    overflow: hidden;
    text-decoration: none;
  }

  /* line 129, ../sass/_tabs.scss */

  .prod .pordImg {
    display: block;
    width: 100%;
    height: 110px;
    overflow: hidden;
  }

  /* line 136, ../sass/_tabs.scss */

  .prod .prodDesc {
    margin-top: -2px;
    width: 100%;
    height: 55px;
    overflow: hidden;
    background: #bfbfbf;
  }

  /* line 143, ../sass/_tabs.scss */

  .prod .prodDesc > span {
    display: block;
    color: #000000;
    padding: 0 5px;
  }

  /* line 148, ../sass/_tabs.scss */

  .prod .prodDesc > span.name {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-1.0.9/sass/susy/_grid.scss */

  .prod .prodDesc > span.name * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 160, ../sass/_tabs.scss */

  .prod .prodDesc > span.price {
    height: 25px;
    line-height: 25px;
    text-align: right;
    font-size: 1.3rem;
  }

  /* line 173, ../sass/_tabs.scss */

  .marqueeSlide {
    width: 800px;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    color: #ffffff;
    overflow: hidden;
    margin: 10px 0 0 50px;
  }

  /* line 182, ../sass/_tabs.scss */

  .marqueeSlide.marqueeContent {
    overflow-x: -webkit-marquee;
    -webkit-marquee-direction: backwards;
    -webkit-marquee-style: scroll;
    -webkit-marquee-speed: fast;
    -webkit-marquee-increment: small;
    -webkit-marquee-repetition: infinite;
  }
}