@include at-breakpoint($desktop) {
	a, input, div { outline: none; }
	.optionGroup {
		position: relative;
		width:820px;
		height:69px;
		background: #ffffff;
		box-shadow: inset 0 0 6px rgba(0,0,0,.5);
		border-top-left-radius: 20px;
		border:2px solid #cccccc;
		@include border-box-sizing;
		
		a.downBtn {
			position: absolute;
			display: block;
			right:0;
			top:0;
			width:66px;
			height:0;
			padding-top:69px;
			overflow: hidden;
			background: url(#{$path}/dowBtn_bg.gif) center no-repeat;
		}

		span.text {
			position: absolute;
			left:10px;
			top:0;
			display: block;
			width:744px;
			height:69px;
			line-height: 69px;
			font-size:$font-s#{rem};
			text-align: center;
		}

		//select
		&.selectCurrent {
			background: #ffec1a;
			a.downBtn {
				background: url(#{$path}/downBtn_bg_hover.gif) center no-repeat;
			}

			span.text:before {
				content: "";
				position: absolute;
				left:50%;
				margin-left:-11px;
				bottom:-27px;
				display: block;
				width:22px;
				height:22px;
				background: url(#{$path}/icon_downarrow.png) center no-repeat;
			}
			
		}
	}

	.popup {
		display: none;
		position: absolute;
		z-index:99;
		top:50%;
		margin:0 12%;
		margin-top:-250px;
		width:76%;
		height:500px;
		background: rgba(0,0,0,.8);
		border-radius: 30px;
		box-shadow: 0 0 30px rgba(0,0,0,.5);
		& > p {
			width:100%;
			margin-top:100px;
			text-align: center;
			color:#ffffff;
			font-size: $font-s+1#{rem};
			line-height: 5rem;
			.servicePhone {
				font-size: $font-s+3#{rem};

			}
		}

		.InputNums {
			position: relative;
			@include pie-clearfix;

			&.errorCode > input[type='password'], &.errorCode > input[type='text'] { 
				position:relative;
				z-index: 1;
				border:5px solid #c40000; 
			 	
			 //&+input[type="text"] { border-left:5px solid #c40000; }
			}

		}
		.InputNums > input[type='password'], .InputNums > input[type='text'] {
			float:left;
			margin-left: -5px;
			width:80px;
			height:100px;
			border:5px solid #000000;
			background: #ffffff;
			text-align: center;
			font-size:$font-s+3#{rem};
			&:first-child {
				margin-left:0;
			}

			&:focus {
				background: #ffec1a;
			}
		}

		.popBtns {
			position: relative;
			margin-top: 30px;
		}
		
		.popBtns > ul > li {
			display: inline-block;
			float:left;
			margin-left:20px;
			&:first-child { margin-left: 0; }
			& > a {
				position: relative;
				display: inline-block;
				height:36px;
				line-height: 36px;
				color:#ffffff;
				letter-spacing: 1px;
				text-decoration: none;
				text-shadow:3px 3px rgba(0,0,0,.5);
				font-size:1.5rem;
				padding-left:40px;
				&:focus { color:#ffec1a; }

				&:before {
					position: absolute;
					left:0;
					top:0;
					display: block;
					content:"";
					width:36px;
					height:36px;
				}

				&.ok {
					&:before {
						background: url(#{$path}/icons/icon_okBtn.png) no-repeat;
					}			
				}

				&.back {
					&:before {
						background: url(#{$path}/icons/icon_backBtn.png) no-repeat;
					}			
				}

			}

		}
	}

	.popup.adultPop {
		p { 
			margin-top:60px;
			font-size: $font-s#{rem};
			span { font-size: $font-s+2#{rem}; }
		}
		
		.InputNums.adultCode {
			width:360px;
			left:50%;
			margin-left:-172.5px;
		}

		.popBtns {
			width:245px;
			left:50%;
			margin-left: -122.5px;
		}
	}

	.popup.copyrightPop {
		margin-top:-275px;
		height:550px;
		.popContent {
			position: relative;
			width:90%;
			height:130px;
			margin:0 5%;
			margin-top:60px;
			@include border-box-sizing;
			border:5px solid #000000;
			background: #ffffff;
			padding: 10px;
			font-size:$font-s - 0.5#{rem};
			overflow-y:auto;
			line-height: 40px;
			&:focus {
				border:5px solid #ffec1a;

				&:before, &:after {
					z-index: 3;
					display: block;
					content: "";
					position: fixed;
					left:50%;
					margin-left: -18px;
					margin-top:-25px;
					width:36px;
					height:36px;
					overflow: hidden;
				}

				&:before {
					//top:-25px;
					background: url(#{$path}/icons/icon_upBtn.png) no-repeat; 
				}

				&:after {
					//bottom:-40px;
					background: url(#{$path}/icons/icon_downBtn.png) no-repeat; 
				}
			}
			&:first-child { margin-top: 20px; }
		
			h3 { 
				display: block;
				color:#c40000;
			}
		}

		.phoneInputs {
			position: relative;
			width:90%;
			height:60px;
			margin:20px 5%;
		}

		.popBtns { 
			width:245px;
			left:50%;
			margin-left: -122.5px;			
			margin-top: 10px;
			
			&:nth-child(n+1){
				width:600px;
			}
		}
	}

	.phoneInputs { @include pie-clearfix; }
	.phoneInputs span { 
		float: left;
		display: inline-block;
		font-size:$font-s - 0.3#{rem};
		line-height: 60px;
		color:#ffffff;
	}
	.phoneInputs > .InputNums { float:left; margin-left:6.5px; }
	.phoneInputs > .InputNums > input[type='text'] {
		width:50px;
		height:60px;
		font-size:$font-s+0.5#{rem};
	}

	//servicePop
	.servicePop {
		.popContent {
			position: relative;
			width:90%;
			height:130px;
			margin:0 5%;
			margin-top:60px;
			text-align: center;
			color:#ffffff;
			font-size: $font-s+2#{rem};
			line-height: $font-s+4#{rem};
		}

		.phone, .title {
			position: relative;
			display: block;
			width:100%;
			
		}

		.phone:before {
			display: block;
			content: "";
			position: absolute;
			width:100px;
			height:100px;
			top:0;
			left:90px;
			background: url(#{$path}/icon_phone.png) center no-repeat;
		}

		.title {
			font-size:$font-s+4#{rem};
		}

		.popBtns { 
			width:245px;
			left:50%;
			margin-left: -122.5px;			
			margin-top: 180px;
		}		
	}
}