//susy
$desktop: 935px 8;
//$mobile:320px 4 480px;

$total-columns    : 8; //格線內的總欄數
$column-width     : 155px; //5個字
$gutter-width     : 10px; //欄間距
$grid-padding     : 0px;//1em 至左及至右滿版兩邊間距

*{
	font-family: arial;
}