@include at-breakpoint($desktop) {
	.leftPanel.prod_detail > .prod_content {
		position: relative;
		left:auto;
		right:-110px;
		top:30px;
		width:665px;
		height:275px;
		background: #ffffff;
		box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		overflow: hidden;
	}

	.prodNums {
		display: block;
		width:100%;
		height:40px;
		line-height: 40px;
		background:#9e9e9e;
		color:#ffffff;
		font-size:$font-s#{rem};
		@include border-box-sizing;
		padding:0 15px;
	}

	.prodName {
		margin-top: 10px;
		display: block;
		width:100%;
		height:80px;
		line-height: 40px;
		overflow:hidden;
		font-size:$font-s+0.1#{rem};
		color:#666666;
		padding:0 15px;

	}
	
	.prodPrice {
		position: absolute;
		bottom:0;
		left:0;
		display: block;
		width:100%;
		height:90px;
		line-height: 90px;
		overflow: hidden;
		font-size:$font-s+1#{rem};
		padding:0 15px;
		color:#a12422;

		span.priceLimit {
			color:#666666;
			font-size:$font-s - 0.5#{rem};
		}		
	}

	//end
	.prodOrderEnd > p {
		position: relative;
		top:20px;
		margin:0 20px;
		width:1080px;
		font-size:$font-s+0.3#{rem};
		letter-spacing: 0.45rem;
		line-height: 60px;

		& > span {
			color:#550000;
			font-size:$font-s+1#{rem};
		}
	}

	.prodOrderEnd > span.tips {
		position: absolute;
		bottom:20px;
		right:40px;
		font-size:$font-s - 0.6#{rem};
	}

	a.orderCheck_btn {
		position:absolute;
		right:75px;
		bottom:130px;
		width:306px;
		height:0px;
		padding-top:159px;
		overflow: hidden;
		background: url(#{$path}/orderCheck_btn.png) no-repeat;
	}

	.spec1, .spec2, .spec3 { 
		float:left; 
		margin-top:25px;
	}
	.spec1 {
		width:274px;
		border-right:0;
		span.text { width:208px; }
	}
	.spec2 { border-right:0; }
	.spec2, .spec3 {
		border-top-left-radius: 0;
		border-left:0;
		width:273px;
		span.text { width:207px; }
	}
}